[Desktop Entry]
Name=wgtray
Comment=A lightweight third-party WireGuard tray client
Exec=wgtray
Icon=wgtray
Type=Application
Categories=Network;System;
Keywords=vpn;wireguard;network;
StartupNotify=false
X-GNOME-Autostart-enabled=true