[Unit]
Description=WireGuard Tray Client
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wgtray
Restart=on-failure
RestartSec=3
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target